{{#view id="main-login-view" class="main-panel" classBinding="KG.pageController.loginHidden KG.pageController.loginPushedLeft KG.pageController.loginPushedRight"}}
	<div>
		<a id="kloud-logo">
			<img src="css/images/kloudgis_black_128.png" alt="Kloudgis"/>
		</a>		
		<a id="kloud-brand">Kloudgis</a>
	<div class="login-pane">
		<table>
		<tr>
		<td>
			<label id="email-label" for="user-field">{{loc _email}}</label>
		</td>
		<td>
			{{#view KG.TextField id="user-field" valueBinding="KG.credential.user" type="email" placeholder_not_loc="_UsernameHint" spellcheck="false" autocorrect="off" autocapitalize="off" autocomplete="on" nl_sc_action="loginAction" autofocus="true"}}
			{{/view}}	
			</td>
		<tr>
		<td>
			<label id="pwd-label" for="pwd-field">{{loc _pwd}}</label>
			</td>
			<td>
			{{#view KG.TextField id="pwd-field" valueBinding="KG.credential.pwd" type="password" placeholder_not_loc="_PasswordHint" spellcheck="false" autocorrect="off" autocapitalize="off" autocomplete="on" nl_sc_action="loginAction"}}
			{{/view}}
			</td>
		</div>
		<tr id="login-button-row">
		<td>
		</td>
		<td>	
			{{#view KG.Button sc_action="loginAction" id="login-button"}}
				{{loc _login}}
			{{/view}}
		</td>
		</table>
		{{view SC.Checkbox id="remember-me" titleBinding="KG.core_login.rememberMeLabel"
		        valueBinding="KG.core_login.rememberMe"}}
		{{#view class="error-message" messageBinding="KG.core_login.errorMessage"}}
			{{message}} 
		{{/view}}
	</div>	
	<div id="signup-box">
		<span id="signup-title">{{loc _signupTitle}}</span>
		{{#view KG.Button sc_action="signupAction" id="signup-button"}}	
			{{loc _signup}}
		{{/view}}
	</div>
{{/view}}	
