{{#view KG.TitleView id="sandboxes-title" class="page-title"}}
	{{titleString}}
{{/view}}
{{#view}}
{{#collection contentBinding="KG.sandboxesController" class="sandbox-list"}}
		{{#view KG.SandboxView tagName="div" class="sandbox-list-item common-list-button"}}
			{{#view KG.DeleteCheckboxView  class="sb-item-check check-delete-button" sc_action="checkSandboxAction" classBinding="isChecked isOwner"}}
				<span>✓</span> {{loc _leave tagName="span"}}
			{{/view}}
			{{#view tagName="span" class="sandbox-name"}}
				{{itemView.content.name}}
			{{/view}}
			<div class="info-line">
				{{itemView.content.formattedDescription}}
			</div>
		{{/view}}
{{/collection}}
	
{{#view KG.Button  id="create-sandbox-button" class="white-button" sc_action="createSandboxAction" titleBinding="KG.core_home.createSandboxTitle" isVisibleBinding="KG.sandboxesController.recordsReady"}}
	<div></div>
{{/view}}
{{#view KG.Button  id="delete-mode-button" class="white-button" sc_action="toggleDeleteSandboxModeAction" titleBinding="KG.core_home.deleteSandboxTitle" isVisibleBinding="KG.sandboxesController.recordsReady" classBinding="KG.homePanelController.deleteMode"}}
	<div></div>
	{{loc _cancel tagName="span"}}
{{/view}}	
{{#view KG.Button id="delete-sandbox-button" class="red-button" sc_action="deleteSandboxAction" classBinding="KG.homePanelController.deleteMode"}}
	{{loc _delete}}
{{/view}}
{{/view}}		