{{#view id="super-search-popup" classBinding="KG.searchController.activePopup"}}
				{{view KG.Button class="x-button search-close-button"  sc_action="toogleSearchPopopAction"}}
				{{#view id="search-popup" }}
					{{view KG.SearchField resultsBinding="KG.searchController.searchHistorySize" placeholder_not_loc="_search" valueBinding="KG.searchController.searchValue"}}
						{{#collection contentBinding="KG.searchController" isVisibleBinding="KG.searchController.hasResults" class="search-cat-list" itemViewClass="KG.RecordsButtonView"}}		
							{{#view KG.Button class="search-cat-item common-list-button" tagName="div" sc_action="selectSearchCategoryAction" recordsVisibleBinding="recordsVisible" classBinding="recordsVisible"}}
								{{#view class="cat-title-label label-ellipsis" titleBinding="itemView.content.title"}}
									{{itemView.content.title}}
								{{/view}}											
								{{#view class="cat-size-label label-ellipsis capsule-label" tagName="span"}}
									{{itemView.content.count}}
								{{/view}}
							{{/view}}
							<div class="super-result-list">
								{{#collection contentBinding="records" class="search-result-list" recordsVisibleBinding="recordsVisible" classBinding="recordsVisible"}}
									{{#view KG.Button class="search-record-item common-list-button" tagName="div" sc_action="featureZoomAction"}}
										{{#view class="label-ellipsis" titleBinding="itemView.content.title"}}
											{{itemView.content.title}}
										{{/view}}
										{{#view KG.Button isVisibleBinding="itemView.content.isSelectable" class="search-select" tagName="div"  sc_action="selectFeatureInspectorAction"}}	
											<img src="resources/images/right_arrow_24.png"/>		
											{{/view}}
									{{/view}}
								{{/collection}}
								<div class="more-panel">
									{{#view KG.Button class="white-button search-more-result" isVisibleBinding="hasMoreResult" sc_action="showMoreResultsAction"}}
										{{loc _showMore}}
									{{/view}}
								</div>
							</div>
						{{/collection}}
						{{#collection contentBinding="KG.core_search.plugins" isVisibleBinding="KG.core_search.searchAsked" class="search-cat-list" itemViewClass="KG.PluginRecordsButtonView"}}
							{{#view KG.Button class="search-plugin-item common-list-button" tagName="div" sc_action="selectSearchPluginAction" recordsVisibleBinding="recordsVisible" classBinding="recordsVisible"}}
								{{#view class="plugin-title-label label-ellipsis" titleBinding="itemView.content.title"}}
									{{itemView.content.title}}
								{{/view}}
							{{/view}}
							{{#collection contentBinding="records" class="search-result-list" recordsVisibleBinding="recordsVisible" classBinding="recordsVisible"}}
								{{#view KG.Button class="search-record-item common-list-button" tagName="div" sc_action="featureZoomAction"}}
									{{#view class="label-ellipsis" titleBinding="itemView.content.title"}}
										{{itemView.content.title}}
									{{/view}}
									{{#view KG.Button isVisibleBinding="itemView.content.hasCreateNote" class="search-create-note" tagName="div"  sc_action="createNoteFromFeatureAction"}}	
										<img src="resources/images/note_black.png"/>		
									{{/view}}
								{{/view}}
							{{/collection}}
						{{/collection}}
				{{/view}}
{{/view}}